[Desktop Entry]
Type=Application
Name=LiveWallpaper Indicator
Name[de]=LiveWallpaper Indikator
Name[fr]=LiveWallpaper Indicator
Name[he]=אייקון מרקע מונפש
Name[ja]=ライブ壁紙インジケーター
Name[ms]=Penunjuk LiveWallpaper
Name[nl]=LiveWallpaper Indicator
Name[sk]=Ukazovateľ LiveWallpaper
Name[tr]=LiveWallpaper belirteci
Name[uk]=Індикатор LiveWallpaper
Comment=Indicator applet to set up the live wallpapers
Comment[de]=Indikator-Applet zum Einrichten der Live-Hintergründe
Comment[fr]=Un indicateur pour configurer les live wallpaper
Comment[he]=יישומון להגדרת מרקע מונפש
Comment[ja]=ライブ壁紙の設定用インジケーター
Comment[ms]=Aplet penunjuk untuk tetapkan kertas dinding langsung
Comment[nl]=Indicator applet voor het opzetten van de live wallpapers
Comment[sk]=Ukazovateľ pre nastavenie live wallpaper
Comment[tr]=Canlı duvar kağıtlarını ayarlamak için belirtici aracı
Icon=indicator-livewallpaper
Exec=livewallpaper-indicator
Terminal=false
Categories=Applet;
